# db_logger
# Copyright 2022 Julio Merino
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License.  You may obtain a copy
# of the License at:
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
# License for the specific language governing permissions and limitations
# under the License.

name: Test

on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  # Use the latest stable Rust version for lint checks to
                  # verify any new Clippy warnings that may appear.
                  toolchain: stable
                  default: true
                  components: clippy, rustfmt
            - uses: actions/checkout@v2
            - run: ./.github/workflows/lint.sh

    linux:
        runs-on: ubuntu-latest
        env:
            PGSQL_TEST_HOST: ${{ secrets.PGSQL_TEST_HOST }}
            PGSQL_TEST_PORT: ${{ secrets.PGSQL_TEST_PORT }}
            PGSQL_TEST_DATABASE: ${{ secrets.PGSQL_TEST_DATABASE }}
            PGSQL_TEST_USERNAME: ${{ secrets.PGSQL_TEST_USERNAME }}
            PGSQL_TEST_PASSWORD: ${{ secrets.PGSQL_TEST_PASSWORD }}
        steps:
            - uses: actions/checkout@v2
            - run: cargo test -- --include-ignored
